<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Weekness</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body class="container-fluid" ng-app="WeeknessApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div class="row-fluid">
        <div class="span3" id="sideBar">
            <div class="brand">
                <h1><a href="#">Weekness</a></h1>
            </div>
            <nav class="sideBarItems" ng-controller="SideBarCtrl">
                <ul class="nav nav-list">
                    <li ng-repeat="subscription in sideBarItems.subscriptions" class="{{ subscription.name }} {{ $parent.isActive(subscription.url) }}"><a ng-click="transitionTo(subscription)">{{ subscription.title }}</a></li>
                    <li ng-repeat="category in sideBarItems.categories" class="{{ category.name }} {{ $parent.isActive(category.url) }}"><a ng-click="transitionTo(category)">{{ category.title }}</a></li>
                    <li ng-repeat="menuItem in sideBarItems.menu" class="{{ menuItem.name }} {{ $parent.isActive(menuItem.url) }}"><a ng-click="transitionTo(menuItem)">{{ menuItem.title }}</a></li>
                </ul>
            </nav>
            <br><a href="#/faker">Fake some content!</a>
        </div>
        <div class="span9" id="browser">
            <div ng-controller="LoginCtrl" class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>{{ login_or_first_name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <div ng-switch on="user.role">
                            <div ng-switch-when="user">
                                <h3>Hello, <strong>{{ user.name.first }}</strong>!</h3>
                                <a href="#/contrib">
                                    <div class="btn-large">
                                        Contribute
                                    </div>
                                </a>
                                <a href="#">
                                    <div ng-click="logout()">Logout</div>
                                </a>
                            </div>
                            <div ng-switch-default>
                                <div ng-repeat="error in errors">
                                    <div class="alert alert-error">{{ error }}</div>
                                </div>
                                <form name="authForm">
                                  <input type="text" ng-model="email" placeholder="Email" /><br />
                                  <input type="password" ng-model="password" placeholder="Password" /><br />
                                  <button class="btn" ng-click="login($event)">Login</button>
                                  <a href="auth/facebook" class="btn">Login with FB</a>
                                  <br />
                                  <a href="#/register">Register/Forgot Password</a>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
           
            <!--- end .topBar -->
            <!-- Add your site or application content here -->
            <div ui-view="content">
                <script src="http://localhost:35729/livereload.js"></script>
            </div>
        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->

    <!-- We have to load jQuery first for plugins which require -->
    <!-- jQuery rather than jqLite -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/isotope/jquery.isotope.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/module.js"></script>
    <!-- <script src="scripts/vendor/angular-weekness.js"></script> -->
    <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/isotope/jquery.isotope.min.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="scripts/vendor/http-auth-interceptor.js"></script>
        <script src="scripts/vendor/underscore.js"></script>
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="bower_components/blueimp-load-image/js/load-image.min.js"></script>
        <script src="bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="bower_components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="bower_components/blueimp-file-upload/js/jquery.fileupload.js"></script>
        <!-- The File Upload processing plugin -->
        <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
        <!-- The File Upload image preview & resize plugin -->
        <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
        <!-- The File Upload audio preview plugin -->
        <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
        <!-- The File Upload Angular JS module -->
        <script src="bower_components/blueimp-file-upload/js/jquery.fileupload-angular.js"></script>
        
        <script src="scripts/directives/angularIsotopeDirective.js"></script>
        <script src="scripts/directives/contribArtifactDirective.js"></script>
        <script src="scripts/directives/contribMainDirective.js"></script>
        <script src="scripts/directives/isoSortByDataDirective.js"></script>
        <script src="scripts/directives/optKindDirective.js"></script>

        <script src="scripts/services/api.js"></script>
        <script src="scripts/services/categories.js"></script>
        <script src="scripts/services/todos.js"></script>
        <script src="scripts/services/dids.js"></script>
        <script src="scripts/services/db.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/optionsStore.js"></script>
        <script src="scripts/services/navi.js"></script>
        <script src="scripts/services/weeknesses.js"></script>

        <script src="scripts/controllers/angularIsotopeCtrl.js"></script>
        <script src="scripts/controllers/didCreateCtrl.js"></script>
        <script src="scripts/controllers/todoCreateCtrl.js"></script>
        <script src="scripts/controllers/debugCtrl.js"></script>
        <script src="scripts/controllers/fakerCtrl.js"></script>
        <script src="scripts/controllers/fileUploadCtrl.js"></script>
        <script src="scripts/controllers/fileDestroyCtrl.js"></script>
        <script src="scripts/controllers/isoSortByDataCtrl.js"></script>
        <script src="scripts/controllers/loginCtrl.js"></script>
        <script src="scripts/controllers/browserCtrl.js"></script>
        <script src="scripts/controllers/registerCtrl.js"></script>
        <script src="scripts/controllers/sideBarCtrl.js"></script>
        <script src="scripts/controllers/weeknessCreateCtrl.js"></script>
        <script src="scripts/controllers/weeknessViewCtrl.js"></script>

        <script src="scripts/filters/contriBmainFilter.js"></script>
        <script src="scripts/directives/pageViewDirective.js"></script>
        <script src="scripts/directives/weeknessViewDirective.js"></script>
        <!-- endbuild -->
</body>
</html>
