<div ng-controller="FakerCtrl">
	<form>
		<h2>How many phonies?</h2>
		<input type="text" ng-model="fakin.count"></input>
		<select ng-model="fakin.type" ng-options="type.name for type in types"></select>
		<input type="submit" class="btn" ng-click="fakin.type.faker()" ng-disabled="processing || fakin.count<1" value="FAKE N BAKE" />
	</form>
<!-- pasted contribution form -->
{{ weekness }}
<div ng-switch="fakin.type.name">
	<div ng-switch-when="todos">
			<div ng-switch="fakin.type.showField()">
				<div ng-switch-when="weekness">
					Select a weekness: <select ng-model="fakin.weekness" ng-options="weekness.name for weekness in weeknesses"></select>
				</div>
 			<div ng-switch-when="todo" ng-include src="'views/partials/todoForm.html'"></div>
 			<div ng-switch-default>Tell me more...</div>
			</div>
 	</div>
	<div ng-switch-when="dids">
			<div ng-switch="fakin.type.showField()">
				<div ng-switch-when="weekness">
					Select a weekness: <select ng-model="fakin.weekness" ng-change="getTodos()" ng-options="weekness.name for weekness in weeknesses"></select>
				</div>
				<div ng-switch-when="todo">
					Select a todo: <select ng-model="fakin.todo" ng-options="todo.title for todo in todos"></select>
				</div>
				<div ng-switch-when="did" ng-include src="'views/partials/didForm.html'"></div>
 			<div ng-switch-default>Tell me more...</div>
			</div>
 	</div>
	<div ng-switch-default>
		WHATCHA GONNA FAKE?
	</div>
</div>
