<div class="hero-unit">
    <h2>Register</h2>
    <p>
        <form name="authForm">
            <input type="text" ng-model="user.email" placeholder="email" /><br />
            <div ng-switch on="status">
            	<div ng-switch-when="available">
            		<input type="text" ng-model="user.password" placeholder="password" /><br />
                    <input type="text" ng-model="user.name.first" placeholder="firstName" /><br />
                    <input type="text" ng-model="user.name.last" placeholder="lastName" /><br />
                    <input type="text" ng-model="user.city" placeholder="city" /><br />
                    <input type="text" ng-model="user.state" placeholder="state" /><br />
            		<input type="text" ng-model="user.country" placeholder="country" /><br />
            		<div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="user.gender" btn-radio="'Male'">Male</button>
                <button type="button" class="btn btn-primary" ng-model="user.gender" btn-radio="'Female'">Female</button>
                <button type="button" class="btn btn-primary" ng-model="user.gender" btn-radio="'No answer'">No answer</button>
           		 </div><br />
            		<input type="text" ng-model="user.birthday.month" placeholder="MM" />
            		<input type="text" ng-model="user.birthday.day" placeholder="DD" />
            		<input type="text" ng-model="user.birthday.year" placeholder="YYYY" /><br />
            		<input type="textarea" ng-model="user.bio"	placeholder="bio" /><br />
            		<button class="btn blue" ng-click="submit()">Create account</button>
            	</div>
            	<div ng-switch-default>
            		<button class="btn" type="availability" ng-click="avail($event)">Check availability</button>
            		<button class="btn" type="recover" ng-click="recover()">Recover account</button>
            	</div>
        </form>
    </p>
</div>